body {
    background-color: black;
    margin-left: 50px;
    margin-right: 50px;
}

nav {
    background-color: rgb(66, 202, 243);
    text-align: right;
    margin-bottom: 10px;
    font-size: 3em;
}

#brand {
    font-size: .75em;
}

#cardMakerButton {
    margin-bottom: 10px;
    font-weight: 650;
    color: rgb(78, 77, 77);
}

#cards {
    width: 50%;
    float: left;
}

#noCardsTitle {
    color: rgb(214, 214, 214);
    text-align: center;
    font-size: 175%;
}

#noCards {
    color: rgb(214, 214, 214);
    text-align: center;
    font-size: 125%;
}

img {
    width: auto;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#resetButton {
    color: rgb(230, 0, 0);
    font-weight: 650;
}

#toggleTheme {
    color: white;
    font-weight: 650;
}

label {
    color: rgb(214, 214, 214);
}

#space, #space1, #space2 {
    color: rgb(66, 202, 243);
}