:root {
    --primary-color: rgb(66, 202, 243);
    --secondary-color: rgb(187, 12, 12);
    --bckg-color: rgb(39, 39, 39);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bckg-color);
}

nav {
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem;
}

nav #brand {
    color: var(--bckg-color);
    margin-left: 1.5rem;
}

.flashCardsList {
    width: 90%;
    margin: 2rem auto;
    border-collapse: collapse;
}

.btn {
    background: transparent;
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
}

.btn-edit {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-edit:hover {
    background: var(--primary-color);
    color: var(--bckg-color);
}

.btn-delete {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn-delete:hover {
    background: var(--secondary-color);
    color: var(--bckg-color);
}

.btn-add {
    width: 6rem;
    height: 2rem;
    background: var(--primary-color);
    border: none;
    color: var(--bckg-color);
}

.modal-show {
    display: block;
}

.btn-modal {
    background: var(--primary-color);
    border: none;
    color: var(--bckg-color);
}

input {
    width: 100%;
    height: 2.2rem;
    margin-bottom: 1rem;
    text-indent: 0.5rem;
    outline: none;
}

.accordion-body {
    background-color: var(--bckg-color);
    color: white;
    outline: none;
}

.nav-link {
    text-decoration: none;
    color: white;
}

.nav-link:hover {
    color: rgb(85, 85, 85);
}

.accordion-button {
    background-color: var(--bckg-color);
    color: white;
}