body {
    background-color: rgb(39, 39, 39);
}

nav {
    background-color: rgb(66, 202, 243);
    text-align: right;
    margin-bottom: 10px;
    font-size: 3em;
}

#brand {
    font-size: .75em;
}

#cardCreateButton {
    margin-bottom: 10px;
    font-weight: 650;
    color: rgb(78, 77, 77);
}

#cards {
    margin-left: 50px;
    margin-right: 50px;
    width: 50%;
}

#noCardsTitle {
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(214, 214, 214);
    text-align: center;
    font-size: 175%;
}

#noCards {
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(214, 214, 214);
    text-align: center;
    font-size: 125%;
}

img {
    width: auto;
    height: auto; 
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#resetButton {
    color: rgb(230, 0, 0);
    font-weight: 650;
}

#toggleTheme {
    color: white;
    font-weight: 650;
}

label {
    margin-left: 50px;
    margin-right: 50px;
    color: rgb(214, 214, 214);
}

input {
    margin-left: 50px;
    margin-right: 50px;
}

#submitForm {
    margin-left: 50px;
    margin-right: 50px;
}

.accordion-button {
    font-weight: 600;
}

#hiddenLink {
    text-decoration: none;
    color: rgb(214, 214, 214);
}