:root {
    --primary-color: #35abda;
    --secondary-color: rgb(236, 49, 49);
    --bckg-color: rgb(39, 39, 39);
    --open-accordion-color: rgb(70, 70, 70);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bckg-color);
}

.container.fluid {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    background-color: var(--primary-color);
    padding: 1rem;
}

#brand {
    color: var(--bckg-color);
    margin-left: 1.5rem;
    font-size: 2rem; 
}

.flashCardsList {
    width: 90%;
    margin: 2rem auto;
    border-collapse: collapse;
}

.btn {
    background: transparent;
    width: 5rem;
    height: 2rem;
    border-radius: 1rem;
    cursor: pointer;
    outline: none;
    margin: 3px;
}

.btn-edit {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.btn-edit:hover {
    background: var(--primary-color);
    color: var(--bckg-color);
}

.btn-delete {
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.btn-delete:hover {
    background: var(--secondary-color);
    color: var(--bckg-color);
}

.btn-add {
    width: 6rem;
    height: 2rem;
    background: var(--primary-color);
    border: none;
    color: var(--bckg-color);
    margin: auto;
}

@keyframes animatetop {
    from {
      top: -300px; opacity: 0;
    }
    to {
      top: 0; opacity: 1;
    }
}

.modal-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #24232354;
    display: none;
}

.modal-content {
    background: rgb(58, 58, 58);
}

.myModal {
    position: relative;
    background: #fff;
    text-align: center;
    width: 25rem;
    margin: 5rem auto;
    -webkit-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 22px -6px rgba(0,0,0,0.75);
    animation-name: animatetop;
    animation-duration: .4s;
}

.modal-header {
    background: rgb(58, 58, 58);
    padding: 2rem;
    color: #fff;
    border: var(--bckg-color);
}
  
.modal-body {
    padding: 2rem;
    background: rgb(80, 80, 80);
    color: #fff;
}

.modal-footer {
    border: var(--bckg-color);
}
  
.btn-modal {
    background: var(--primary-color);
    border: none;
    color: #fff;
}

.btn-delete-modal {
    background: var(--secondary-color);
    border: none;
    color: #fff;
}

.modal-show {
    display: block;
}

input {
    width: 100%;
    height: 2.2rem;
    margin-bottom: 1rem;
    text-indent: 0.5rem;
    outline: none;
}

textarea {
    width: 100%;
    height: 35px;
    margin-bottom: 1rem;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 5px;
    padding-left: 9px;
    scroll-padding-bottom: auto;
    outline: none;
}

.accordion-body {
    background-color: var(--bckg-color);
    color: white;
    outline: none;
    border-bottom: 3px solid var(--bckg-color);
}

.nav-link {
    text-decoration: none;
    color: white;
    text-align: right;
    font-size: 1.25rem;
    font-weight: 600;
}

.nav-link:visited {
    color: white;
}

.nav-link:hover {
    color: rgb(85, 85, 85);
}

.accordion-button {
    color: white;
    padding: 1.75rem, 1.25rem;
}
.accordion-header {
    background-color: var(--bckg-color);
}

.btnContain1 { 
    height: 3rem;
    position: relative;
}

.btnContain2 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.accordion-flush .accordion-item .accordion-button {
    border-radius: 5px;
}

.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: rgb(50, 50, 50);
}

.accordion-button.collapsed {
    background-color: rgb(50, 50, 50);
    border-bottom: 3px solid var(--bckg-color);
}

.accordion-button:focus {
    box-shadow: 0 0 0 0.25rem rgb(90 90 90 / 25%)
}

.accordion-body {
    background-color: var(--open-accordion-color);
    color: white;
    outline: none;
}

.action-btn-container { 
    height: 200px;
    position: relative;
}
  
.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.card-info {
    border: 2px solid var(--secondary-color);
    background-color: rgba(236, 49, 49, 25%);
    text-align: left;
    padding: 0.5rem;
}

.accordion-button::after {
    background-image: url("accordion_button_lite.svg");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("accordion_button_lite.svg");
    transform: rotate(-180deg);
}